[submodule "conf/yaml/nginx"]
	path = conf/yaml/nginx
	url = https://github.com/jdauphant/ansible-role-nginx.git
[submodule "conf/yaml/git"]
	path = conf/yaml/git
	url = https://github.com/geerlingguy/ansible-role-git.git
[submodule "conf/yaml/php"]
	path = conf/yaml/php
	url = https://github.com/geerlingguy/ansible-role-php.git
